<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>tactile</title>
		<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
		<link rel="stylesheet" href="css/styletactile.css?v1.1">
	</head>

	<body class="unselectable">
		<div class="up clicouille" onclick="viewscroll(-195)">^</div>
		<div class="down clicouille" onclick="viewscroll(195)">v</div>
		<form action="/display/admin/new/line" method="post" class="form">
			<div class="container">
				{% for user in users %}
					<label class="option_item clicouille">
						<input type="radio" name="user_email" class="checkbox" value="{{ user.email }}" required>
						<div class="option_inner instagram">
							<div class="tickmark"></div>
							<div class="icon">
								<i class="fas fa-user" style="font-size: 50px;{% if user.presence %} color: green;{% endif %}"></i>
							</div>
							<div class="name">{{ user.firstName }}
								{{ user.LastName }}</div>
						</div>
					</label>
				{% endfor %}
			</div>

			<input name="pin" type="password" id="inputcode" class="form-control" value="" required>

			<div id="tactile">
				<div class="line">
					<div class="touche">1</div>
					<div class="touche">2</div>
					<div class="touche">3</div>
				</div>
				<div class="line">
					<div class="touche">4</div>
					<div class="touche">5</div>
					<div class="touche">6</div>
				</div>
				<div class="line">
					<div class="touche">7</div>
					<div class="touche">8</div>
					<div class="touche">9</div>
				</div>
				<div class="line">
					<div class="touche">sup</div>
					<div class="touche">0</div>
					<input id="okvalide" class="touchespecial" type="submit" value="0K">
				</div>
			</div>
		</form>
		<div id="popup" class="popup">
			<p>Merci</p>
		</div>
		<script src="/assets/js/tactile.js?v2"></script>
	</body>
</html>
