<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>tactile</title>
		<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
		<link rel="stylesheet" href="css/styletactile.css?v1.2">
	</head>

	<body class="unselectable">
		<div id="bg-image"></div>
		<div class="up clicouille unselectable" onclick="viewscroll(-374)">
			<i class="fas fa-arrow-up"></i>
		</div>
		<div class="down clicouille unselectable" onclick="viewscroll(374)">
			<i class="fas fa-arrow-down"></i>
		</div>
		<div id="closeTactile" class="clicouille">
			<i class="fas fa-chevron-left"></i>
		</div>
		<form action="/display/admin/new/line" method="post" class="form">
			<div class="container">
				{% for user in users %}
					<label class="option_item clicouille clicDisplay">
						<input type="radio" name="user_email" class="checkbox" value="{{ user.email }}" required>
						<div class="option_inner instagram" style="{% if user.presence %}border-color: rgb(46, 204, 113); {% endif %}">
							<div class="tickmark"></div>
							<div class="icon">
								<i class="fas fa-user" style="font-size: 50px; {% if user.presence %} color: #2ecc71 {% endif %}"></i>
							</div>
							<div class="name">{{ user.firstName | capitalize }}
								<br>
								{{ user.LastName | upper }}</div>
						</div>
					</label>
				{% endfor %}
			</div>
			<div id="codeTactile">
				<div id="tactile">
					<div class="line">
						<input name="pin" type="password" id="inputcode" class="form-control" value="" required>
						<div class="touche toucheX">X</div>
					</div>
					<div class="line">
						<div class="touche">1</div>
						<div class="touche">2</div>
						<div class="touche">3</div>
					</div>
					<div class="line">
						<div class="touche">4</div>
						<div class="touche">5</div>
						<div class="touche">6</div>
					</div>
					<div class="line">
						<div class="touche">7</div>
						<div class="touche">8</div>
						<div class="touche">9</div>
					</div>
					<div class="line">
						<div class="touche">0</div>
					</div>
					<div class="line">
						<input style="" id="okvalide" class="touche touchespecial unselectable" type="submit" value="Valider">
					</div>
				</div>
			</div>
			<iframe id="iFrameTV" title="Ecran de la TV" src="https://coworkinmoulins.fr/tv"></iframe>
		</form>
		<div id="popup" class="popup">
			<p>Merci</p>
		</div>
		<script src="/assets/js/tactile.js?v1.2"></script>
	</body>
</html>
