{% extends 'layout/admin.twig' %}

{% block options %}
	<h1 class="h2">Update</h1>
{% endblock %}
{% block content %}
	<ul>
		{% for keys, items in itemss %}
			<br/>
			<h2>{{keys}}</h2>
			{% for item in items %}
				<li>{{item}}</li>
			{% endfor %}
		{% endfor %}
	</ul>

{% endblock %}
