<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CoWorkInMoulins confirmation</title>
	</head>
	<body>
		<h1>CoWorkInMoulins confirmation de votre inscription</h1>
		<p>Bonjour,<br>
			Pour valier votre email merci d'acceder a cet addresse :
			<a href="{{ datas.token }}">{{ datas.token }}</a>
		</p>
		<p>l'espace de Coworking By CoWorkInMoulins</p>
	</body>
</html>
