<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CoWorkInMoulins confirmation</title>
	</head>
	<body>
		<h1>CoWorkInMoulins - Confirmation de votre inscription</h1>
		<p>Bonjour,</p>
		<p>Pour valider votre email, merci d'acceder a cette adresse :
			<a href="{{ datas.token }}">{{ datas.token }}</a>
		</p>
		<p>L'espace de Coworking By CoWorkInMoulins</p>
	</body>
</html>
