<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CoWorkInMoulins nouvelle facture</title>
	</head>
	<body>
		<h1>CoWorkInMoulins - nouvelle facture disponible</h1>
		<p>Bonjour,</p>
		<p>Vous avez une nouvelle facture sur votre espace membre Coworking de MOULINS.<br>
			Rendez-vous &agrave; cette adresse adresse pour effectuer le r&egrave;glement :
			<a href="{{ path('userInvoces', {}, true) }}">{{ path('userInvoces', {}, true) }}</a>
		</p>
		<p>L'espace de Coworking By CoWorkInMoulins</p>
	</body>
</html>
