<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CoWorkInMoulins nouveau message</title>
	</head>
	<body>
		<h1>CoWorkInMoulins - nouveau message disponible</h1>

		<p>Bonjour,</p>
		<p>Vous avez un nouveau message sur votre espace membre Coworking de MOULINS.<br></p>
		<p>Vous pouvez le consulter en vous connectant à votre espace membre.</p>

		<p>Voici le contenu du message de
			{{ datas.name }}
			son adresse
			{{ datas.email }}

			:</p>


		<p>{{ datas.message}}</p>


	</body>
</html></p><p>L'espace de Coworking By CoWorkInMoulins</p></body></html>
