<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CoWorkInMoulins confirmation</title>
	</head>
	<body>
		<h1>CoWorkInMoulins - Votre demande de changement de mot de passe</h1>
		<p>Bonjour,</p>
		<p>Vous avez demandé de votre mot de passe pour vous connecter à votre espace membre de L'espace de Coworking, le voici : </p>
		<p>Cliquez sur ce  
			<a href="https://coworkinmoulins.fr/login">lien</a>
			pour vous connecter.
		</p>
		<p>L'espace de Coworking By CoWorkInMoulins</p>
	</body>
</html>
