<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CoWorkInMoulins confirmation</title>
	</head>
	<body>
		<h1>CoWorkInMoulins - Votre demande de changement de mot de passe</h1>
		<p>Bonjour,</p>
		<p>Vous avez demand&eacute; le changement de votre mot de passe de connection &agrave; votre espace membre Coworking de MOULINS, merci d'acc&eacute;der &agrave; cette adresse :
			<a href="https://coworkinmoulins.fr/login">lien</a>
		</p>
		<p>L'espace de Coworking By CoWorkInMoulins</p>
	</body>
</html>
