{% extends 'layout/default.twig' %}

{% block content %}
	<section class="align-center">
		<h2>Activez votre compte</h2>
		<p class="align-center">Vous avez recu un mail a l'adresse
			{{ user.email }}</p>
		<p class="align-center">Merci de suivre le lien qui est dans celui-ci</p>
		<a href="/user/logout" class="button">Changer de compte</a>

	</section>

{% endblock %}
