{% extends 'layout/default.twig' %}

{% block content %}
	<section class="align-center">
		<h2>Activez votre compte</h2>
		<p class="align-center">Lors de votre inscription, vous avez recu un mail à l'adresse
			"{{ user.email }}".</p>
		<p class="align-center">Merci de suivre le lien indiqué dans celui-ci afin de confirmer votre adresse mail et pouvoir vous connecter à votre espace membre.</p>
		<a href="/user/logout" class="button">Changer de compte</a>

		{# Ajouter un bouton pour regénérer un nouveau mail identique à celui envoyé lors de la souscription #}

	</section>

{% endblock %}
