{% extends 'layout/user.twig' %}
{% block title %}Choix de votre adhesion
{% endblock %}
{% block titlePage %}Choix de votre adhesion
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-lg-6 cards">
			<div class="card card-pricing card-raised">
				<div class="card-body">
					<h6 class="card-category">Small Company</h6>
					<div class="card-icon icon-rose">
						<i class="material-icons">home</i>
					</div>
					<h3 class="card-title">30 €/an</h3>
					<p class="card-description">
						This is good if your company size is between 2 and 10 Persons.
					</p>
					<a href="#pablo" class="btn btn-rose btn-round">Choose Plan</a>
				</div>
			</div>
		</div>
		<div class="col-lg-6 cards">
			<div class="card card-pricing card-raised">
				<div class="card-body">
					<h6 class="card-category">Freelancer</h6>
					<div class="card-icon">
						<i class="material-icons">weekend</i>
					</div>
					<h3 class="card-title">200 €/an</h3>
					<p class="card-description">
						This is good if your company size is between 2 and 10 Persons.
					</p>
					<a href="#pablo" class="btn btn-white btn-round">Choose Plan</a>
				</div>
			</div>
		</div>
	</div>
	<br>
	<p class="text-center">Non adhérants</p>
	<div class="row">
		<div class="col-lg-4 cards">
			<div class="card card-pricing card-raised">
				<div class="card-body">
					<h6 class="card-category">Small Company</h6>
					<div class="card-icon icon-rose">
						<i class="material-icons">home</i>
					</div>
					<h3 class="card-title">20 €</h3>
					<p class="card-description">
						This is good if your company size is between 2 and 10 Persons.
					</p>
					<a href="#pablo" class="btn btn-white btn-round">Choose Plan</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 cards">
			<div class="card card-pricing card-raised">
				<div class="card-body">
					<h6 class="card-category">Freelancer</h6>
					<div class="card-icon">
						<i class="material-icons">weekend</i>
					</div>
					<h3 class="card-title">12 €</h3>
					<p class="card-description">
						This is good if your company size is between 2 and 10 Persons.
					</p>
					<a href="#pablo" class="btn btn-white btn-round">Choose Plan</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 cards">
			<div class="card card-pricing card-raised">
				<div class="card-body">
					<h6 class="card-category">Small Company</h6>
					<div class="card-icon icon-rose">
						<i class="material-icons">home</i>
					</div>
					<h3 class="card-title">5 €</h3>
					<p class="card-description">
						This is good if your company size is between 2 and 10 Persons.
					</p>
					<a href="#pablo" class="btn btn-white btn-round">Choose Plan</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}{% endblock %}
