{% extends 'layout/user.twig' %}
{% block title %}Choix de votre adhesion
{% endblock %}
{% block titlePage %}Choix de votre adhesion
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-lg-6 cards">
			<div class="card card-pricing card-raised">
				<div class="card-body">
					<h6 class="card-category">Adhesion individuel</h6>
					<div class="card-icon icon-rose">
						<i class="material-icons">Freelance</i>
					</div>
					<h3 class="card-title">30 €/an</h3>
					<p class="card-description">
						adhesion pour les personnes physique.<br>
						<br>

					</p>
					<a href="/adhesion/1" class="btn btn-rose btn-round">j'adhère</a>

				</div>
			</div>
		</div>
		<div class="col-lg-6 cards">
			<div class="card card-pricing card-raised">
				<div class="card-body">
					<h6 class="card-category">Adhesion Entreprise</h6>
					<div class="card-icon">
						<i class="material-icons">Entreprise</i>
					</div>
					<h3 class="card-title">200 €/an</h3>
					<p class="card-description">
						Je suis une epntreprise et je souhaite adhérer pour mes employées.<br>
						partage des forfait + salle de reunions (vois conditions avec Julien ou Rémi)
					</p>
					<a href="/adhesion/2" class="btn btn-white btn-round">j'adhère</a>


				</div>
			</div>
		</div>
	</div>
	<br>
	{#<p class="text-center">Non adhérants</p>
			 <div class="row">
					<div class="col-lg-4 cards">
						<div class="card card-pricing card-raised">
							<div class="card-body">
								<h6 class="card-category">demi-journée</h6>
								<div class="card-icon icon-rose">
									<i class="material-icons">home</i>
								</div>
								<h3 class="card-title">12 €</h3>
								<p class="card-description">
									1/2 journée au coworking.<br><br>
			
			
								</p>
								<a href="/adhesion/3" class="btn btn-white btn-round">Je réserve</a>
			
			
							</div>
						</div>
					</div>
					<div class="col-lg-4 cards">
						<div class="card card-pricing card-raised">
							<div class="card-body">
								<h6 class="card-category">journée</h6>
								<div class="card-icon">
									<i class="material-icons">weekend</i>
								</div>
								<h3 class="card-title">20 €</h3>
								<p class="card-description">
									1/2 journée au coworking.<br><br>
			
			
								</p>
								<a href="/adhesion/4" class="btn btn-white btn-round">Je réserve</a>
			
			
							</div>
						</div>
					</div>
					<div class="col-lg-4 cards">
						<div class="card card-pricing card-raised">
							<div class="card-body">
								<h6 class="card-category">un bureau pour une journée</h6>
								<div class="card-icon icon-rose">
									<i class="material-icons">home</i>
								</div>
								<h3 class="card-title">35 €</h3>
								<p class="card-description">
									bureau individuel
									<br>pour une journee, pour 1 à 5 personnes.
								</p>
								<a href="/adhesion/5" class="btn btn-white btn-round">Je réserve</a>
			
							</div>
						</div>
					</div>
				</div> #}
{% endblock %}
{% block script %}{% endblock %}
