{% extends 'layout/default.twig' %}

{% block content %}
	<section>
		<h2>Connexion</h2>
		<p>Bienvenu dans l'espace Coworking de Moulins</p>
		<form method="post" action="#">
			<div class="fields">
				<div class="field third">
					<label for="emmailail">Email</label>
					<input type="text" name="mail" id="mail"/>
				</div>
				<div class="field third">
					<label for="password">Mot de passe</label>
					<input type="password" name="password" id="password"/>

				</div>
				<div class="field third">
					<label for="password">Mot de passe</label>

				</div>

			</div>
			<ul class="actions">
				<li>
					<input type="submit" value="Connexion"/>
				</li>
			</ul>
			<div class="align-center">
				<a href="/inscription">Inscription</a>
				/
				<a href="#">Mot de passe oublié</a>
			</div>
		</form>

	</section>

{% endblock %}
