{% extends 'layout/default.twig' %}

{% block content %}
	<section>
		<h2>Connexion</h2>
		<p>Bienvenu dans l'espace Coworking de Moulins</p>
		<form method="post" action="#">
			<div class="fields">
				<div class="field third">
					<label for="mail">Email</label>
					<input type="text" name="mail" id="mail"/>
				</div>
				<div class="field third">
					<label for="password">Mot de passe</label>
					<input type="password" name="password" id="password"/>
					<div class="align-right">
						<a href="/mdpoublie" style="font-style: italic; font-size: 0.9rem">Mot de passe oublié ?</a>
					</div>
				</div>
				
			</div>
			<ul class="actions">
				<li>
					<input type="submit" value="Connexion"/>
				</li>
			</ul>
			<div class="align-center">
				<a href="/inscription" class="button">Inscrivez-vous ici pour nous rejoindre</a>
			</div>
		</form>

	</section>

{% endblock %}
