{% extends 'layout/default.twig' %}

{% block content %}
	<section>
		<h2>Changez votre mot de passe</h2>
		<p>Merci de renseigner tous les champs suivants</p>

        <form method="post" action="#">
			<div class="fields">
				<div class="field third">
					<label for="password_new">Nouveau mot de passe</label>
					<input {% if errors.password_new %} class="invalid-feedback" {% endif %} type="password" name="password_new" id="password_new" placeholder="7 caratères minimum"/>
					{% if errors.password_new %}
						<div class="invalid-feedback">
							{% for error in errors.password_new %}
								<li>{{ error }}</li>
							{% endfor %}
						</div>
					{% endif %}
				</div>
                <div class="field third">
					<label for="password_newVerify">verification du mot de passe</label>
					<input {% if errors.password_newVerify %} class="invalid-feedback" {% endif %} type="password" name="password_newVerify" id="password_newVerify" placeholder="Recopiez votre mot de passe"/>
					{% if errors.password_newVerify %}
						<div class="invalid-feedback">
							{% for error in errors.password_newVerify %}
								<li>{{ error }}</li>
							{% endfor %}
						</div>
					{% endif %}
				</div>
				<div class="field third">
					<label for="pinmdpchange">Code PIN</label>
					<input {% if errors.pinmdpchange %} class="invalid-feedback" {% endif %} type="password" name="pinmdpchange" id="pinmdpchange" placeholder="Votre code PIN personnel"/>
					{% if errors.pinmdpchange %}
						<div class="invalid-feedback">
							{% for error in errors.pinmdpchange %}
								<li>{{ error }}</li>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
            <div class="align-center">
                <input type="submit" class="btn btn-primary" value="changer mon mot de passe"/>
            </div>
		</form>
        <div class="align-center">
            <a href="/user/logout" class="button">Annuler</a>
        </div>
    </section>
{% endblock %}