{% extends 'layout/default.twig' %}

{% block content %}
	<section>
		<h2>Mot de passe oublié ?</h2>
		<p>Indiquez l'adresse mail utilisée pour votre compte membre de l'espace Coworking de Moulins</p>
		<form method="post" action="#">
			<div class="fields">
				<div class="field half">
					<label for="mailmdpoublie">Email</label>
					<input {% if errors.mailmdpoublie %} class="invalid-feedback" {% endif %} type="text" name="mailmdpoublie" id="mailmdpoublie"/>
					{% if errors.mailmdpoublie %}
						<div class="invalid-feedback">
							{% for error in errors.mailmdpoublie %}
								<li>{{ error }}</li>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
			<ul class="actions">
				<li>
					<input type="submit" value="Envoyer le mail"/>
				</li>
			</ul>
			<div class="align-center">
				<a href="/inscription" class="button">Inscrivez-vous ici pour nous rejoindre</a>
				
				<a href="/login" class="button">Se connecter à mon espace membre</a>
			</div>
		</form>

	</section>

{% endblock %}
