{% extends "layout/default_beer.twig" %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5">Bread Beer Shop - Contact</h1>
	<section id="profile_section" class="row no-gutters justify-content-center align-items-center mb-5">
		<iframe id="haWidget" src="https://www.helloasso.com/associations/coworkinmoulins/paiements/test/widget" style="width: 350px; height: 450px; border: none;" scrolling="auto"></iframe>

	</section>
{% endblock %}
