{% extends 'layout/default.twig' %}

{% block intro %}
	<!-- Intro -->
	<div id="intro">
		<h1>Co Work In Moulins</h1>
		<p><a href="/inscription" title="Page d'inscription au Coworking">Rejoindre la communauté des coworkers de Moulins</a></p>
		<ul class="actions">
			<li>
				<a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a>
			</li>
		</ul>
	</div>
{% endblock %}
