<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Jekyll v4.0.1">
		<title>Dashboard Template · Bootstrap</title>

		<link
		rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
		<meta name="theme-color" content="#563d7c">


		<style>
			body {
				min-height: 100vh;
			}
			.container-fluid,
			.row {
				min-height: 100vh;
			}
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">CoWorkInMoulins</a>
			<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="/user/logout">Sign out</a>
				</li>
			</ul>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
					<div class="sidebar-sticky pt-3">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="/admin/">
									<span data-feather="home"></span>
									Dashboard
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/compta">
									<span data-feather="dollar-sign"></span>
									Comptabilité
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/orders">
									<span data-feather="file"></span>
									Orders
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/invoces">
									<span data-feather="file"></span>
									Invoces
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/products">
									<span data-feather="shopping-cart"></span>
									Products
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/users">
									<span data-feather="users"></span>
									Customers
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/roles">
									<span data-feather="shield"></span>
									Rôles
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="bar-chart-2"></span>
									Reports
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/messages">
									<span data-feather="message-square"></span>
									Messages de "Contact"
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/events">
									<span data-feather="coffee"></span>
									Events
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/update">
									<span data-feather="upload-cloud"></span>
									Update
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/user/profile">
									<span data-feather="x-square"></span>
									Stop admin
								</a>
							</li>
						</ul>
					</div>
				</nav>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"> {% block options %}{% endblock %}
						</div>
						{% block content %}{% endblock %}
					</main>
				</div>
			</div>
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
			<script src="https://unpkg.com/feather-icons"></script>
			<script src="/assets/js/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script>
				toastr.options = {
"closeButton": false,
"debug": false,
"newestOnTop": false,
"progressBar": true,
"positionClass": "toast-bottom-right",
"preventDuplicates": true,
"onclick": null,
"showDuration": "300",
"hideDuration": "1000",
"timeOut": "5000",
"extendedTimeOut": "1000",
"showEasing": "swing",
"hideEasing": "linear",
"showMethod": "fadeIn",
"hideMethod": "fadeOut"
};{% if flash('success') %}{% for successMesassage in flash('success') %}toastr["success"]("{{ successMesassage }}");{% endfor %}{% endif %}{% if flash('error') %}{% for error in flash('error') %}toastr["error"]("{{ error }}");{% endfor %}{% endif %}
			</script>
			<script>
				feather.replace()
			</script>
			{% block script %}{% endblock %}
		</body>
	</html>
